/* Coolors Exported Palette - coolors.co/312f2f-84dccf-a6d9f7-bccce0-bf98a0 */

/* HSL */
$color1: hsla(0%, 2%, 19%, 1);
$color2: hsla(171%, 56%, 69%, 1);
$color3: hsla(202%, 84%, 81%, 1);
$color4: hsla(213%, 37%, 81%, 1);
$color5: hsla(348%, 23%, 67%, 1);

/* RGB */
$color1: rgba(49, 47, 47, 1);
$color2: rgba(132, 220, 207, 1);
$color3: rgba(166, 217, 247, 1);
$color4: rgba(188, 204, 224, 1);
$color5: rgba(191, 152, 160, 1);